@if (showNav()) {
  <nav class="navbar">
    <a class="nav-brand" [routerLink]="['/' + groupSlug() + '/matches']">⚽ Foot Présence</a>
    <div class="nav-links">
      <a [routerLink]="['/' + groupSlug() + '/matches']" class="nav-link">Matchs</a>
      <a [routerLink]="['/' + groupSlug() + '/profile']" class="nav-link">
        {{ auth.displayName() }}
      </a>
      @if (auth.isAdmin()) {
        <a [routerLink]="['/' + groupSlug() + '/admin']" class="nav-link nav-admin">Admin</a>
      }
      <button class="btn-logout" (click)="logout()">Déconnexion</button>
    </div>
  </nav>
}

<main [class.with-nav]="showNav()">
  <router-outlet />
</main>
